@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.container {
  background-image: url(./assets/images/bg.jpg);
  /* background-image: url('./assets/images/overlay.png'),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('./assets/images/bg.jpg'); */
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 8rem 4rem 6rem 4rem; */
}

.header h1 {
  font-size: 5rem;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.075rem;
  color: #fff;
  text-align: center;
}

.main-content p {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  color: #fff;
  line-height: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.main-content a:link,
.main-content a:visited {
  color: #fff;
  text-decoration: underline dotted rgba(255, 255, 255, 0.5) 0.05em;
  text-underline-offset: 0.25em;
}

.main-content a:hover {
  text-decoration: none;
  color: rgb(27, 192, 239);
}

.arrow {
  width: 60px;
  height: 60px;
  color: #fff;
}

.arrow:hover {
  color: rgb(27, 192, 239);
}

.nav {
  width: calc(100% - 4rem);
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -4rem auto 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
}

.nav-list li {
  height: 100%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  color: #1e252d;
  background-color: white;
}

.sm-links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  padding-right: 1rem;
}

.sm-icons {
  color: #fff;
  font-size: 1.25rem;
}

.sm-icons:hover {
  color: rgb(27, 192, 239);
}
